body {
  font-family: 'Karla', 'Merkazi', sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  font-weight: 400;
}

h4 {
  font-size: 25px;
  font-weight: 500;
}

/* HEADER */

header {
  min-height: 120px;
  margin: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

nav ul li {
  margin: 1em;
}

/* Define the animation */
@keyframes navLinkHover {
  0% {
    width: 0;
    margin-left: 50%; /* Start from the center */
  }
  100% {
    width: 100%;
    margin-left: 0; /* Cover the entire text */
  }
}

/* Apply the animation to the navigation links */
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  position: relative; /* Needed for absolute positioning of pseudo-element */
  padding-bottom: 10px;
}

/* Create the pseudo-element for the underline */
nav ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0; /* Start from the left edge of the text */
  width: 100%; /* Initially full width */
  height: 2px; /* Thickness of the underline */
  background-color: black;
  transition: width 0.3s ease, margin-left 0.3s ease; /* Animate width and position */
  transform: scaleX(0); /* Initially hide the underline */
  transform-origin: center bottom; /* Set the transform origin to center bottom */
}

/* Apply the animation on hover */
nav ul li a:hover::after {
  animation: navLinkHover 0.3s ease forwards; /* Apply the animation */
  transform: scaleX(1); /* Reveal the underline */
}


/* HERO */

.hero {
  min-height: 320px;
  padding: 20px 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #495E57;
}

.heroContainer {
  width: 1000px;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.heroLeftPart {
  min-width: 400px;
  color: white;
  font-size: 18px;
  max-width: 400px;
}

.heroLeftPart h1 {
  color: #F4CE14;
  margin: 0em;
}

.heroLeftPart p {
  margin: 30px 0;
}

.heroLeftPart h3 {
  font-size: 30px;
  margin: 0em;
}

.heroImage {
  width: 400px;
  height: 300px;
  border-radius: 16px;
  position: absolute;
  object-fit:cover;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  top:15%;
  left:57%;
}

/* HIGHLIGHTS */

.highlights {
  min-height: 500px;
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.highlightsContainer {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 70px 0;
}

.highlightsTitle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
}

.highlightsItems {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
}

.menuItemContainer {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: top;
  vertical-align: top;
  background-color: #EDEFEE;
  border-top-left-radius: 16px 16px;
  border-top-right-radius: 16px 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 10px 10px 30px 10px;
}

.menuItemDescription {
  padding: 0 15px 10px 15px;
}

.menuImage {
  max-width: 100%;
  max-height: 150px;
  display: block;
  border-top-left-radius: 16px 16px;
  border-top-right-radius: 16px 16px;
  object-fit: cover;
}

.menuTitle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: center;
  font-size: 1.1em;
}

.menuTitle span{
  margin: auto 0;
  color: #EE9972;
  font-weight: 700;
}

/* TESTIMONIALS */

.testimonials {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
}

.testimonialsContainer {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 9em 0;
}

.testimonialsContainer h2 {
  margin-bottom: 60px;
  margin-top: 0;
}


.testimList {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 0; /* Adjust margin to prevent overflow */
  padding: 0 20px;
  box-sizing: border-box;
}

.testimItemContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white;
  border-radius: 16px;
  padding: 2em 1em;
  width: 11em;
  height: 9em;
  align-items: start;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 10px;
}

.testimUpperRight .testimLower {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content:right;
  align-items: center;
}

.testimUpperRight div:first-child{
  font-weight: bold;
}

.testimUpper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.testimonialsImage {
  width: 40px;
  height: 40px;
  object-fit: cover;
  display: block;
  border-radius: 50%;
  margin-right: 0.5em;
}

.testimLower p {
  color: #6E6F6E;
  font-size: 14px;
}


/* ABOUT */

.about {
  min-height: 500px;
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.aboutContainer {
  width: 1000px;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5em 0;
}

.aboutLeft {
  min-width: 400px;
  max-width: 400px;
  padding: 5em 1em;
}

.aboutLeft h1, .aboutLeft h3{
  margin: 0;
}

.aboutLeft p {
  text-align: justify;
  margin-top: 2em;
}


.aboutRight {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
}

.aboutRight img {
  width: 250px;
  height: 320px;
  object-fit: cover;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.3));
  padding: 3em;
}

.aboutRight img:nth-child(odd) {
  position: relative;
  transform: translateY(60px);
  right: 60%;
  margin-bottom: 40px;
}

.aboutRight img:nth-child(even) {
  position: absolute;
  top: -10%;
  left: 0%;
}

/* FOOTER */

footer {
  min-height: 400px;
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #495E57;
}

.footerContainer {
  color: white;
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.footerRight {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: top;
}

.footerRight div{
  margin: 0 1em;
}

.footerRight img{
  height: 30px;
  margin: 10px;
}

.footerLogo img {
  height: 300px;
}

.footerNav ul, .footerNav a, .footerRight p{
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: inherit;
  text-decoration: none;
  font-size: 1.1em;
}

.footerNav li {
  margin: 5px 0;
}


/* BUTTONS */

.reserveTableButton {
  background-color: #F4CE14;
  border-radius: 8px;
  color: black;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 35px;
  border-style: none;
  cursor: pointer;
}

.reserveTableButton:active {
  background-color: #333333;
  color: white;
}

.onlineMenuButton {
  background-color: #F4CE14;
  border-radius: 8px;
  color: black;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 35px;
  border-style: none;
  cursor: pointer;
}

.onlineMenuButton:active {
  background-color: #333333;
  color: white;
}


@media (min-width: 100px) and (max-width: 1100px) {
  .heroImage, .aboutRight img:nth-child(even), .aboutRight img:nth-child(odd){
    position: static;
  }
  .heroContainer {
    justify-content: space-evenly;
  }
  .aboutContainer {
    justify-content: space-evenly;
  }
}

@media (min-width: 100px) and (max-width: 1100px) {
  .menuItemContainer {
    margin: 20px 0;
  }
}